* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    padding: 0.5em;
    justify-content: center;
}

.formulario {
    width: 60%;
    justify-content: center;
    display: inline;
    row-gap: 20px;
}

.form-1{
    display: grid;
    grid-template-columns: auto 1fr;
}
section{
    size: 10px;
}
.form-2{
    
    display: grid;
    grid-template-columns: 10% auto 10% auto;
    grid: 20px;
}