@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #ac2b2b;
    color: #F6F6F6;
    
}

.input-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
}

.styled-input::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#popup {
  display: grid;
  position: fixed;
  justify-content: center;
  gap: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 21px 0;
  border: 2px solid #22d4fd;
  width: 40%;
  font-size: 20px;
  border-radius: 15px;
  background-color: #000000;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}


.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1,5rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.apresentacao {
    padding:5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.botoes {
    display: flex;
    justify-content: space-around;
}

.entrada {
  display: flex;
  background: #000000;
  justify-content: center;
  width: 90%;
  border: 3px solid #22D4FD;
  border-radius: 8px;
  padding: 21.5px;
  color: #22d4fd;
  text-align: center;
  font-size: 1.5rem;
}

.botao {
    display: flex;
    justify-content: center;
    background: #000000;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
   
    color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
}

.botaoPopup {
  display: flex;
  justify-content: center;
  background: #000000;
  border: 2px solid #22D4FD;
  width: 100px;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10.5px 0;
  
  color: #22D4FD;
  font-family: 'Montserrat', sans-serif;
}


.quadro {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10% 0;
    /* text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif; */
}

.botao:hover {
    background-color: #22d4fd;
    color: #000000;
}

.rodape {
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rems;
    font-weight: 400;
}
 /*
 @media (max-width: 1200px) {
   .cabecalho {
     padding: 10%;
   }
   
   .cabecalho__menu {
     justify-content: center;
   }
   
   .apresentacao {
     flex-direction: column-reverse;
     padding: 50%;
   }
   
   .apresentacao_conteudo {
     width: auto;
   }
 }*/